/* SECTION : ADMIN AREA - BUTTONS CONTAINER */
.admin-buttons-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 90vw;
    padding: 4rem 0 0 0;
    
}

hr.solid {
    width: 100%;
    margin: 2rem auto;
    display: none;
}

.admin-buttons-container h2 {
    margin: 0 2rem;
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
    color : var(--color-text-primary);
    text-shadow:  var(--text-shadow);
}


.admin-buttons-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    width: 95%;
    margin: 3rem auto;
}


.admin-button {
    height: auto;
    padding: 0.8rem 0.5rem;
    font-size: 1.3rem;
    font-weight: 400;
    text-decoration: none;
    backdrop-filter: blur(3px);
    background-color: var(--color-background-glass-light);
    border: 1px solid var(--color-background-glass-light);
    border-radius: var(--border-radius-8);
    box-shadow: var(--box-shadow-mild-strong);
    transition: all 0.3s ease;
    color : var(--color-text-primary);
    text-shadow:  var(--text-shadow);

    opacity: 0;
    animation: fadeIn 1s ease forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.admin-button:hover {
    transform: scale(1.1);
    color: var(--color-nav-hover);
    background: var(--color-opacity-2);
}

.admin-button.active {
    color: var(--color-nav-hover);
    text-shadow: var(--text-shadow);
    background: var(--color-opacity-2);
}

/* Mobile view */
/* Media Queries */

@media (max-width: 768px) {
    .admin-buttons-container {
        padding: 2rem 0 0 0;
    }

    .admin-buttons-wrapper {
        grid-template-columns: repeat(2, 1fr);
    }
    
    .admin-buttons-container h2 {
        font-size: 2rem;
    }
    
    .scroll-right-message {
        color: var(--color-text-primary);
        text-shadow:  var(--text-shadow);
        padding: 0 0.5rem;
        margin: 0;
        font-size: 1.1rem;
        text-align: end;
        border-bottom:  1px solid var(--color-text-primary);
        
        & p {
            margin: 0;
        }
    }
}
