.events-container {
    width: 90%;
    margin: 0 auto 2rem auto;
    display: flex;
    flex-direction: column;
    color : var(--color-text-primary);
    text-shadow:  var(--text-shadow);

    & .events-header {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        margin-bottom: 2rem;
        margin-top: 1rem;
        padding: 1rem;
        border-radius: var(--border-radius-16);
        background-color: var(--color-opacity-2);
        box-shadow: var(--box-shadow-all-sides);
        
        & h2 {
            text-align: center;
            font-size:  3rem;
            margin-top:  1rem;
        }
        
        & p {
            text-align: center;
            font-size: 1.5rem;
            margin: 1rem auto 0.5rem auto;
            border-bottom:  1px solid lightgoldenrodyellow;
            border-top:  1px solid lightgoldenrodyellow;
            padding: 1rem 0;
        }
    }
}

.events-body {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(4, 1fr);
    
    /* 1, 6 ,7 */
    & .event-row-element:nth-child(5n - 4),
    & .event-row-element:nth-child(7){
        grid-column: span 2;
    }
    
    & .event-row-element {
        border: 1px solid var(--color-opacity-2);
        border-radius: var(--border-radius-16);
        position: relative;
        overflow: hidden;
        transition:  transform 0.3s ease;
        box-shadow: var(--box-shadow-mild-strong);

        &:hover {
            transform:  scale(1.05);
            cursor: pointer;
            
            .text-on-hover{
                left: 0;
                bottom: 0;
                cursor: pointer;
            }
        }
    }

    & img {
        width: 100%;
        height: 45vh;
        object-fit: cover;
        overflow: hidden;
        border: 1px solid var(--color-opacity-2);
        border-radius: var(--border-radius-16);
    }
}

.event-details {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 2rem 0.5rem 2rem;
    position: absolute;
    bottom: 0;
    left: 0;
    text-shadow:  var(--text-shadow-outline);

    backdrop-filter: blur(3px);
    background-color: var(--color-background-glass-light);
    border: 1px solid var(--color-background-glass-light);
    border-radius: var(--border-radius-8);
    box-shadow: var(--box-shadow-light);
    
    & .event-start-end {
        display: flex;
        flex-direction: column;
    }
    
    & .text-on-hover{
        position: absolute;
        top: 0;
        bottom: 0;
        left: -100%;
        transition: left .5s;
        background: var(--color-opacity-6);
        padding: 10px;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    
    & p {
        margin: 0;
        padding-top: 0.5rem;
    }
}

/* Container for the modal */
.event-details-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: var(--color-opacity-5);
    color: var(--color-black);
}

.event-modal-content{
    background-color: rgba(222, 222, 222, 0.9);
    margin: 0 auto 0 auto;
    padding: 20px;
    border: 1px solid var(--color-gray);
    width: 100%;
    max-width: 900px;
    position: relative;
    overflow: auto;
    word-wrap: break-word;
    
    & .title-wrapper{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
        & h1 {
            margin: 0 auto 1rem auto;
        }
        
        & span {
            font-size: 2rem;
            cursor: pointer;
        }
    }
    
    & img {
        width: 100%;
        height: 45vh;
        object-fit: cover;
        overflow: hidden;
        border: 1px solid var(--color-text-primary);
        border-radius: var(--border-radius-16);
        box-shadow: var(--box-shadow-all-sides);
    }
    
    & .event-modal-details {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 2rem 1rem;
    }
}

/* Mobile view */
/* Media Queries */
@media (max-width: 768px) {
    .events-container {
        width: 100%;
    }
    
    .events-header {
        width: 95%;
        margin: 0 auto;
    }
    
    .events-body {
        width: 95%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }
        
    .event-row-element {
        width: 100%;
    }
}