<link rel="stylesheet" href="~/css/custom/about-customization.css" class="rel">

@{
    ViewData["Title"] = "About Us - Skeppsgården B&B";
}
@* TODO: Replace this generic text with your own before deployment *@
<div class="about-container">
    <div class="about-header">
        <img src="~/images/site/home-header.jpg" alt="" class="src">
        <div class="about-banner">
            <h1>@ViewData["Title"]</h1>
            <p>A place for relaxation and enjoyment!</p>
        </div>
    </div>
    <div class="about-content">
        <div class="content-wrapper">
            <div class="content-title">
                <hr class="solid">
                <div class="left-right-divider">
                    <h2>Our Story</h2>
                </div>
                <hr class="solid">
            </div>
            <img class="main-photo" src="~/images/site/sylvie-mat.jpg" alt="sylvie-and-mat"/>
            <div class="text-wrapper">
                <h2>Meet Name1 and Name2</h2>
                <p>Welcome to Skeppsgården B&amp;B, where Name1 and Name2 extend their heartfelt invitation to unwind by the sea and embrace the simple pleasures of life.</p>
                <p class="paragraph-divider"><span>&#9753;&#10087;</span></p>
                <p>Their journey began amidst the captivating landscapes of Bulgaria, where they discovered a shared love for travel and culture. Over the years, their adventures took them across continents, from the picturesque corners of France to the rugged beauty of Wales.</p>
                <p class="paragraph-divider"><span>&#9753;&#10087;</span></p>
                <p>In 2020, Name1 and Name2 embarked on a new chapter as they acquired the historic school in Skeppsgården. Despite the challenges posed by the pandemic, their dedication to creating a welcoming haven remained steadfast. Guests found peace and quiet in the tranquility of Skeppsgården.</p>
                <p>At the heart of their retreat lies a cozy restaurant, offering hearty meals crafted from locally-sourced ingredients. Live bands fill the summer evenings with melody, adding to the charm of the surroundings. Additionally, Name1 and Name2 oversee Kaggeboden in Kaggebo, a quaint spot where visitors can indulge in ice cream, coffee, and cherished souvenirs.</p>
                <p class="paragraph-divider"><span>&#9753;&#10087;</span></p>
                <p>Looking ahead, Name1 and Name2 envision a future where Skeppsgården continues to thrive. They aim to improve guest experiences with plans for a new bathing area and additional rooms.</p>
                <p>Beyond hospitality, Name1 and Name2 are passionate about preserving Skeppsgården's charm and tranquility. They advocate for improved infrastructure and communication channels, ensuring a seamless experience for all who visit.</p>
                <p class="paragraph-divider"><span>&#9753;&#10087;</span></p>
                <p>Your journey to Skeppsgården B&amp;B promises moments of serenity and connection amidst nature's embrace. Name1 and Name2 eagerly await your arrival, ready to share their passion for life by the sea. You are most welcome to Skeppsgården B&amp;B!</p>
            </div>
        </div>
    </div>
</div>