@{
    ViewData["Title"] = "Privacy Policy";
}

<link rel="stylesheet" href="~/css/custom/privacy-customization.css" class="rel">

<div class="privacy-container">
    <h1 class="privacy-title">Privacy Policy</h1>
    <div class="privacy-effective">
        <p>Effective: January 25, 2023</p>
        <p>Our Privacy Policy has been updated.</p>
    </div>
    <div class="privacy-introduction">
        <h2>Introduction</h2>
        <p class="intro-subtitle">At SkeppsgårdenBnB, we value your privacy and respect your personal information. We are committed to protecting your data and ensuring that you have a safe and enjoyable stay with us.</p>
        <p>
            This Privacy Policy explains how we collect, use, share, and store your personal information when you book a room, use our website, or contact us. It also describes your rights and choices regarding your data and how you can contact us if you have any questions or concerns.

            Please read this Privacy Policy carefully before using our services or providing us with any information. By using our services or providing us with information, you agree to the terms of this Privacy Policy. If you do not agree, please do not use our services or provide us with any information.
        </p>

    </div>
    <div class="privacy-table-contents-wrapper">
        <h2>Table of Contents</h2>
        <ul class="privacy-table-contents">
            <li><a href="#first">Information We Collect</a></li>
            <li><a href="#second">How We Use Your Information</a></li>
            <li><a href="#third">Data Storage and Security</a></li>
            <li><a href="#forth">Your Privacy Rights</a></li>
            <li><a href="#fifth">Other Important Information</a></li>
        </ul>
    </div>

    <div id="first" class="privacy-content-row">
        <h2>Information We Collect</h2>
        <p class="intro-subtitle">In the course of providing our services, we may collect and process the following information:</p>

        <ul>
            <li><strong>Names:</strong> We collect names for the purpose of identification and personalized service delivery.</li>
            <li><strong>Phone Numbers:</strong> We collect phone numbers to facilitate effective communication and provide assistance as needed.</li>
            <li><strong>Email Addresses:</strong> We collect email addresses to ensure efficient communication and to assist with reservation management processes.</li>
        </ul>
        <p>We prioritize the security and confidentiality of all data collected, adhering to stringent privacy protocols to safeguard your information.</p>
    </div>
    <div id="second" class="privacy-content-row">
        <h2>How We Use Your Information</h2>
        <p class="intro-subtitle">We use the collected information for the following purposes:</p>
        <ul>
            <li><strong>Reservation Processing:</strong> Your details aid in efficiently processing reservations and ensuring smooth accommodation services.</li>
            <li><strong>Communication Channels:</strong> We utilize collected data to engage in effective communication with you, addressing inquiries, and providing timely updates regarding your reservations.</li>
            <li><strong>Service Enhancement:</strong> Analysis of collected information allows us to continually refine and improve our services, tailoring them to better meet the needs and preferences of our guests.</li>
            <li><strong>Personalized Experience:</strong>Understanding your preferences enables us to personalize your experience, ensuring your stay with us is both comfortable and memorable.</li>
            <li><strong>Legal and Regulatory Compliance:</strong>We may also employ your information to fulfill legal obligations or respond to regulatory requirements.</li>
        </ul>
    </div>
    <div id="third" class="privacy-content-row">
        <h2>Data Storage and Security</h2>
        <p>
            We adhere to the guidelines set forth by the General Data Protection Regulation (GDPR) concerning the storage and processing of your personal information. Your data is maintained securely, and we implement robust measures to safeguard it against unauthorized access, disclosure, alteration, or destruction.
        </p>
    </div>
    <div id="forth" class="privacy-content-row">
        <h2>Your Privacy Rights:</h2>
        <p class="intro-subtitle">
            As a valued user, you have the following rights regarding your personal information:
        </p>
        <ul>
            <li><strong>Access:</strong> You have the right to access the personal information we hold about you.</li>
            <li><strong>Correction:</strong> You can request the correction of your personal information if it is inaccurate or incomplete.</li>
            <li><strong>Erasure:</strong> You can request the erasure of your personal information under certain circumstances.</li>
        </ul>
        <p>
            To exercise these rights or for any inquiries regarding your privacy rights, please don't hesitate to contact us using the provided contact details below.
        </p>
    </div>
    <div id="fifth" class="privacy-content-row">
        <div class="privacy-contact-us">
            <h2>Contact us:</h2>
            <p>
                If you have any questions, concerns, or requests regarding this Privacy Policy or the handling of your personal information, please feel free to reach out to us at contact@bnb.zzz. We are committed to addressing your inquiries promptly and transparently.
            </p>
        </div>
        <div class="privacy-changes">
            <h2>Changes to This Privacy Policy:</h2>
            <p>
                We strive to keep our Privacy Policy current and in line with the latest privacy regulations. Therefore, we reserve the right to update or modify this Privacy Policy as needed. Any changes will be posted on our website, and they will become effective immediately upon publication. We encourage you to review this Privacy Policy periodically to stay informed about how we protect your privacy.
            </p>
        </div>
    </div>
</div>